/* Variáveis iniciais */

:root {
  --bege: #c09578;
  --white-ligth: #fcf5eb;
  --white: #fff;
  --black: #000;
  --black-ligth: #252525;
  --gray: #808080;
  --secondary-color: #626262;
}

.bg-white-light {
  background: var(--white-ligth) !important;
}

.text-white-light {
  color: var(--white-ligth) !important;
}

.bg-bege {
  background: var(--bege) !important;
}

.text-bege {
  color: var(--bege) !important;
}

.text-secondary-color {
  color: var(--secondary-color) !important;
}

.container,
.container-fluid,
.row {
  --bs-gutter-x: 0px;
}

/* Fim variáveis iniciais */

body {
  background: var(--black-ligth);
  overflow-x: hidden;
}

/* Primeira Navbar */
#navbar-one #form {
  border: 1px solid var(--gray);
  padding: 6px 15px;
}

#navbar-one #form .form-control {
  border: none !important;
  background: none;
  box-shadow: none !important;
  color: var(--white);
}

#navbar-one #form .form-control::placeholder {
  color: var(--white);
}
#navbar-one-ul .nav-item {
  position: relative;
}
#navbar-one-ul .nav-item .badge {
  position: absolute;
  top: -16px;
  right: -14px;
  border-radius: 50%;
}

#navbar-one-ul .nav-item:last-of-type .badge {
  right: 65%;
}

#navbar-one-ul .nav-item i {
  font-size: 20px;
  cursor: pointer;
}
/* Fim Primeira Navbar */

/* Segunda Navbar */

#navbar-two {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#navbar-two .navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

#navbar-two .nav-item .nav-link {
  color: var(--white);
}

#navbarNav .nav-item {
  font-weight: 700;
}

/* Fim Segunda Navbar */

/* Carousel */

#carouselSite .carousel-item img {
  width: 100%;
  height: 80vh;
}

/* Fim Carousel */

/* Colection Container */

.colection-item {
  height: 290px;
  padding: 15px;
  position: relative;
  max-width: 30%;
}

.colection-item h2 {
  max-width: 50%;
}

.colection-item img {
  width: 130px;
  height: 220px;
  position: absolute;
  top: 50px;
  right: 10px;
}

.colection-item:nth-of-type(2) img {
  width: 110px;
}

.colection-item a {
  text-decoration: none;
  font-weight: 700;
}

/* Fim colection items */

/* Beast Seller Container */
.bs-item {
  padding: 40px 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.bs-item img {
  width: 130px;
  height: 220px;
}

.bs-item .btn,
#emphasis-item .btn {
  border: 1px solid var(--bege);
}

#emphasis-item .btn {
  padding: 20px 15px;
}

.bs-item .btn:hover,
#emphasis-item .btn:hover {
  background: var(--bege);
}

/* Fim Beast Seller Container */

/* Emphasis container */
#emphasis-item h2 {
  max-width: none;
  width: 140% !important;
  font-size: 96px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

#emphasis-container img {
  width: 160px;
  height: 320px;
}

/* Fim Emphasis container */

/* Galery Row */
#galery-content {
  justify-content: space-between;
  background: var(--black);
}

#galery-content div {
  padding: 3px 2px;
}

#galery-content div img {
  width: 100%;
  height: 200px;
  transition: all 100ms linear;
}

#galery-content div img:hover {
  outline: 2px solid var(--bege);
}

/* Fim Galery Row */

/* Contact Row */
#contact-content div {
  padding: 28px 0px;
  text-align: center;
}

#contact-content .unstyled-list {
  list-style: none !important;
  padding: 0 !important;
}

#contact-content .unstyled-list li {
  font-size: 14px;
  opacity: 0.6;
}

#contact-content #pages li {
  font-size: 16px;
  margin: 8px 0;
}

#contact-content div:nth-of-type(1),
#contact-content div:nth-of-type(2),
#contact-content div:nth-of-type(3) {
  border-bottom: 1px solid #ffffff4d;
}
#contact-content div:nth-of-type(1),
#contact-content div:nth-of-type(2) {
  border-right: 1px solid #ffffff4d;
}

#contact-content .quest {
  max-width: 80%;
  margin: auto;
}

#contact-content div #call {
  font-size: 40px;
}

/* Fim Contact Row */

/* Footer */

footer {
  background: var(--black);
}
footer .news {
  padding: 30px 0;
}
footer .news form {
  border: 1px solid var(--gray);
  padding: 6px 15px;
  width: 600px;
  max-width: 90vw;
}

footer .news label {
  max-width: 80vw;
}

.news form .form-control {
  border: none !important;
  background: none;
  box-shadow: none !important;
  color: var(--white);
}

.news form .form-control::placeholder {
  color: var(--white);
}

.news form .btn {
  border: 1px solid var(--bege);
  color: var(--white);
}

.news form .btn:hover {
  background: var(--bege);
}

.news .social-medias i {
  font-size: 25px;
  color: var(--secondary-color);
  margin: 0 10px;
}

footer #footer-text {
  background: var(--black-ligth);
  width: 100vw;
  padding: 20px 0;
}

footer #footer-text p {
  max-width: 82vw;
  text-align: center;
  margin: auto;
}

footer #footer-text a {
  text-decoration: none;
}

/* Media queries */

@media screen and (max-width: 576px) {
  #contact-content div {
    border: none !important;
  }

  footer #footer-text p {
    padding: 20px 0px 30px 0;
  }
}

@media screen and (max-width: 992px) {
  .carousel-item img {
    height: 50vh;
  }
  .colection-item {
    max-width: 100%;
  }

  .row {
    margin: 0 !important;
  }

  #emphasis-item h2 {
    font-size: 30px;
    margin: 20px 0;
  }

  #contact-content div #call {
    font-size: 25px !important;
  }
}

@media screen and (max-width: 1200px) {
  #contact-content div #call {
    font-size: 30px;
  }
}
